# Fichiers générés par la compilation TypeScript
dist/
*.tsbuildinfo

# Fichiers de débogage Node.js
npm-debug.log
yarn-error.log

# Dossier node_modules
node_modules/

# Fichiers d'environnement
.env

# Fichiers de configuration de l'éditeur
.vscode/
.idea/
*.iml

# Fichiers de cache
*.log
*.cache
*.tmp
*.swp
*.swo

# Fichiers du système d'exploitation
.DS_Store
Thumbs.db

# Autres fichiers couramment ignorés
*.bak
*.swp
*.swo
